﻿.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 150px;
    display: inline-block;
    margin: 5px;
}

    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        cursor: pointer;
        background-color: #DFE2DB;
    }

.selected {
    background-color: #DFE2DB;
}

#find {
    position: fixed;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.container {
    padding: 2px 16px;
}

.form-control {
    width: 150px;
    display: inline;
}

label {
    display: block;
}

.disabledbutton {
    pointer-events: none;
    opacity: 0.4;
}