﻿@model IEnumerable<TenderWinMini.Web.Portal.Models.BriefTenderViewModel>

@foreach (var b in Model) {
    <div class="card" id="@b.Id">
        <div class="container">
            <h4><b>Tender: @b.Name</b></h4>
            <p>Price: @b.Prise</p>
            <p>Days Left: @b.DaysLeft</p>
        </div>
    </div>
}
