﻿@model IEnumerable<TenderWinMini.Web.Portal.Models.DocumentViewModel>

<ul class="list-group">
    @foreach (var b in Model) {
        <li class="list-group-item"><a href="@b.Url">Document: @b.Name</a></li>
    }
</ul>