﻿@model IEnumerable<TenderWinMini.Web.Portal.Models.EventViewModel>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Text</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var b in Model) {
            <tr>
                <td>@b.Text</td>
                <td>@b.EvetnDate</td>
            </tr>
        }
    </tbody>
</table>