﻿@model IEnumerable<TenderWinMini.Web.Portal.Models.BriefTenderViewModel>

@{
    ViewBag.Title = "GetTenderList";
}

<div style="width: 50%; padding: 10px; background: lightblue; position: fixed; margin: 10px; left: 45%" id="tenderInfo">
    <div id="tabs">
        <ul>
            <li><a href="#tabs-1" id="tab1">Tender Info</a></li>
            <li><a href="#tabs-2" id="tab2">Documents</a></li>
            <li><a href="#tabs-3" id="tab3">Events</a></li>
        </ul>
        <div id="tabs-1">
        </div>
        <div id="tabs-2">
        </div>
        <div id="tabs-3">
        </div>
    </div>
</div>

<img src='@Url.Content("~/Content/search.png")' id="find" data-toggle="modal" data-target="#myModal">

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Enter the search parameters</h4>
            </div>
            @using (Html.BeginForm("GetTenderList", "Tender", FormMethod.Get)) {
                <div class="modal-body">
                    <div class="form-group">
                        <label>Input name:</label>
                        <input type="text" class="form-control" id="search" name="search" placeholder="Input name">
                    </div>
                    <div class="form-group">
                        <label>Input price:</label>
                        <input type="text" class="form-control" id="priceFrom" name="priceFrom" placeholder="from">
                        <input type="text" class="form-control" id="priceTo" name="priceTo" placeholder="to">
                    </div>
                    <div class="form-group">
                        <label>Date publication:</label>
                        <input type="text" class="form-control" id="publicationFrom" name="publicationFrom" placeholder="from">
                        <input type="text" class="form-control" id="publicationTo" name="publicationTo" placeholder="to">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Ok</button>
                </div>
            }
        </div>
    </div>
</div>

<div style="width: 45%; padding: 10px" id="scrolList">
    @Html.Partial("_Items")
</div>

<div id="loading"><img src='@Url.Content("~/Content/loading_spinner.gif")'></div>

@section Scripts
{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript">
        $(function () {
            $('div#loading').hide();
            selectItems();
            $('#publicationFrom').datepicker();
            $('#publicationTo').datepicker();
            $("#tabs").tabs();
            $('#tenderInfo').append('<div style="position: absolute;top:0;left:0;width: 100%;height:100%;z-index:2;opacity:0.4;filter: alpha(opacity = 50);background:grey" id="blockDiv"></div>');

            var page = 1;
            var _inCallback = false;

            function loadItems() {
                if (page > -1 && !_inCallback) {
                    _inCallback = true;
                    page++;
                    $('div#loading').show();
                    $.ajax({
                        type: 'GET',
                        url: '/Tender/GetTenderList?page=' + page,
                        success: function (data, textstatus) {
                            if (data != '') {
                                $("#scrolList").append(data);
                                selectItems();
                            }
                            else {
                                page = -1;
                            }
                            _inCallback = false;
                            $("div#loading").hide();
                        }
                    });
                }
            }

            $(window).scroll(function () {
                if ($(window).scrollTop() == $(document).height() - $(window).height()) {

                    loadItems();
                }
            });

            var selectedTempId = null;

            function selectItems() {
                $('.card').on("click", function () {
                    $("#" + selectedTempId).removeClass("selected");
                    $("#" + this.id).addClass("selected");
                    selectedTempId = this.id;
                    $("#blockDiv").remove();

                    $.ajax({
                        type: 'GET',
                        url: '/Tender/GetTenderById/' + this.id,
                        success: function (data, textstatus) {
                            if (data != '') {
                                $("#tabs-1").empty().append(data);
                                $("#tabs").tabs("option", "active", 0);
                            }
                        }
                    });
                });
            }

            $('#tab2').on("click", function () {
                console.log(selectedTempId);
                $.ajax({
                    type: 'GET',
                    url: '/Tender/GetDocumentListByTenderId/' + selectedTempId,
                    success: function (data, textstatus) {
                        if (data != '') {
                            $("#tabs-2").empty().append(data);
                        }
                    }
                });
            });

            $('#tab3').on("click", function () {
                console.log(selectedTempId);
                $.ajax({
                    type: 'GET',
                    url: '/Tender/GetEventListByTenderId/' + selectedTempId,
                    success: function (data, textstatus) {
                        if (data != '') {
                            $("#tabs-3").empty().append(data);
                        }
                    }
                });
            });
        })
    </script>
}