﻿@model TenderWinMini.Web.Portal.Models.TenderViewModel

<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">@Model.Name</h3>
    </div>
    <div class="panel-body">
        <p>Price: @Model.Prise</p>
        <p>Publicated date: @Model.PublicatedDate</p>
        <p>Completed date: @Model.CompletedDate</p>
        <p>Delivery time: @Model.DeliveryTime</p>
        <p>Delivery address: @Model.DeliveryAddress</p>
    </div>
</div>